# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
/project/.sbtserver
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Idea
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml