<!DOCTYPE html>
<html ng-app="ivarsa">
<head>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">iVarsa</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-href="#/units">Setup <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Performance</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout</a></li>

            </ul>
        </div>
    </div>
    <div ng-view></div>
</nav>
</body>
</html>